<div class="mb-4 post-dashboard animate__animated animate__fadeIn ">
  <div class="row align-items-center p-4">
    <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 post-image-col">
      <div class="d-flex justify-content-center">
        <img src="{{image_url}}" class="post-image" alt="resource image" />
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9 homepage-post-text">
      <div class="">
        <h5 class="card-title text-white">{{title}}
          <i class="bi bi-chat-left-quote"></i></h5>
          <p class="card-text timestamp"> {{createdAt}}</p>
        <p class="card-text text-white">{{description}}.</p>
        <a href="/resource/{{id}}" class="btn post-button">View Detail</a>
      </div>
    </div>
  </div>
</div>