<div class="mb-4 post-dashboard animate__animated animate__fadeInUp animate__delay-1s">
  <div class="row align-items-center p-4">
    <div class="col-2 col-sm-2 col-md-2 col-lg-2 post-image-col">
      <div class="d-flex justify-content-center ">
        <img src="{{image_url}}" class="post-image-dashboard" alt="resource image" />
      </div>
    </div>
    <div class="col-10 col-sm-10 col-md-10 col-lg-10 ">
      <div class="post-text-dashboard card-to-listen">
      <p class="post-id" hidden> {{id}} </p>
         </span> <h4 class="home-resource-title text-white">  <span>{{title}}  </span>
       </h4> 
        <p class="card-text text-white timestamp"> {{createdAt}}</p>

      </div>
    </div>
    <div class="col-12">
      <p class="card-text text-white home-resource-description ">{{description}}.</p>
      <p class="more-detail-text"> <i class="bi bi-check-circle icon-need-fix"></i> click to view detail</p>
    </div>
  </div>
</div>