<div class="section mt-5">
  <div class="container-fluid">
    <div class="row align-items-center post-detail">
      <div class="col-12 d-flex justify-content-between">
        <h2 class="header"> Post Details</h2>
        <button
          type="button"
          class="btn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class=" edit-button"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
  <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
</svg></i>
        </button>

      </div>
      <div class="col-4 col-sm-3 col-lg-2">
        <figure class="text-center post-detail-image">
          <img
            class="post-detail-image"
            src="{{resource.image_url}}"
            alt="post-detail-picture"
          />
        </figure>
      </div>

      <div class="col-8 col-sm-9">
        <div class="post-description">
          <h3> Title : {{resource.title}}</h3>
          <p
            class="text-white timestamp"
            
          >{{resource.createdAt}}</p>
          <p class="text-white"> {{resource.description}}</p>
        </div>

       
      </div>

    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-body">
          <form class="row g-3 p-3" id="updateform">
            <div class="text-white mb-4">
              <h4><i class="bi bi-pencil-square"></i>Edit Post </h4>
            </div>
            <div class="col-12">
              <label
                for="inputTitle"
                class="form-label text-white"
              >Title</label>
              <input
                type="text"
                class="form-control custom-input"
                id="editedTitle"
                placeholder="{{resource.title}}"
                value="{{resource.title}}"
              />
            </div>
            <div class="col-12">
              <label
                for="inputDescription"
                class="form-label text-white"
              >Description</label>
              <textarea
                class="form-control custom-input"
                id="editedContent"
                rows="3"
                placeholder="{{resource.description}}"
                value="{{resource.description}}"
              ></textarea>
            </div>
            <div class="col-md-6">
              <label for="inputTags" class="form-label text-white">Tags</label>
              <input
                type="text"
                class="form-control custom-input"
                id="inputTags"
                placeholder="Enter resource tag(s)"
              />
            </div>
            <div class="col-md-4">
              <label
                for="inputCategory"
                class="form-label text-white"
              >Category</label>
              <select id="inputCategory" class="form-select custom-input">
                <option selected>Select </option>
                <option value="1" id="sports">sports</option>
                <option value="2" id="food">food</option>
                <option value="3" id="music">music</option>
                <option value="4" id="weather">weather</option>
                <option value="5" id="events">events</option>
                <option value="6" id="gaming">gaming</option>
                <option value="7" id="technologies">technologies</option>
                <option value="8" id="shopping">shopping</option>
              </select>
            </div>
            <div class="col-md-12">
              <label
                for="inputImage"
                class="form-label text-white"
              >Image</label>
              <input
                type="text"
                class="form-control custom-input"
                id="inputImage"
                value="{{resource.image_url}}"
              />
            </div>

            <div class="col-12 d-flex mt-4">
              <button
                type="submit"
                class="btn search-button me-2 col-sm-6"
                id="update"
              >Update Resource</button>
              <button
                type="submit"
                class="btn search-button col-sm-6"
                id="delete"
              >Delete Resource</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>

<script src="/js/updateDelete.js"></script>
