<div class="section mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <section id="currentResourceUpdate">
                <div class="card bg-body-tertiary mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">{{description}}.</p>
                    </div>
                </div>
                </section>

                <section id="editResource"></section>
                <div class="col-6 col-lg-4">
                    <div class="form-title text-white mb-4">
                        <h1>Update/Delete Resource</h1>
                    </div>
                    <form class="row g-3" id="editedResource">
                        <div class="col-12">
                            <label for="inputTitle" class="form-label text-white">Title</label>
                            <input type="text" class="form-control" id="editedTitle" placeholder="{{resource.title}}" value="{{Resource.title}}">
                        </div>
                        <div class="col-12">
                            <label for="inputDescription" class="form-label text-white">Description</label>
                            <textarea class="form-control" id="editedContent" rows="3"
                                placeholder="{{resource.description}}" value="{{resource.description}}"></textarea>
                        </div>
                        {{!-- <div class="col-md-6">
                            <label for="inputTags" class="form-label text-white">Tags</label>
                            <input type="text" class="form-control" id="inputTags" placeholder="Enter resource tag(s)" >
                        </div> --}}
                        <div class="col-md-4">
                            <label for="inputCategory" class="form-label text-white">Category</label>
                            <select id="inputCategory" class="form-select" id="inputCategory" value="{{resource.category_id}}">
                                {{!-- <option selected>Select resource category</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option> --}}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="inputImage" class="form-label text-white">Image</label>
                            <input type="text" class="form-control" id="inputImage" value="{{resource.image_url}}">
                        </div>
                        {{!-- <div class="col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="gridCheck">
                                <label class="form-check-label text-white" for="gridCheck">
                                    Add Image
                                </label>
                            </div>
                        </div> --}}
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary" id="update">Update Resource</button>
                            <button type="submit" class="btn btn-primary" id="delete">Delete Resource</button>
                        </div>
                    </form>
                </div>
                </section>
            </div>
        </div>
    </div>
   

    <script src="/js/updateDelete.js"></script>